/* Selector + Declarations(Property + Value) */

div,
h1,
h4,
p,
ul,
footer {
    text-align: center;
}

body {
    /* background-color: #333333; */
    background-image: url(https://cdn.hipwallpaper.com/i/55/11/QoJ6dT.jpg); 
    background-size: cover;
    /* border-left: 10px solid;
    border-right: 10px solid;
    border-color: yellow; */
    background-attachment: fixed;
    /* color: white; */
    margin: auto;
}

/* Fixing links for dark mode. */

a {
    color:white;
    background-color: transparent;
    text-decoration: underline;
  }
  

#firstDiv {
    background-color: #333333;
    color: white;
    margin: auto;
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.dark-mode {
    background-color: white;
    color: black;
}



h1 {
    font-size: 30px;
}


/* Rounded border. */

.border {
    border: 3px solid;
    border-radius: 20px;
    margin: auto;
    width: auto;
}

#fourthDiv {
    padding-left: 20px;
    padding-right: 20px;
}


/* Unknown. *Figure out what this means. */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none;
}