/*-------------------------------------------------*/

/*--------------------Name-based-------------------*/

/*-------------------------------------------------*/

div, h1, h4, p, ul, footer {
    text-align: center;
}

body {
    /* background-color: #333333; */
    background-image: url(../images/seattle.jpg);
    background-size: cover;
    /* border-left: 10px solid;
    border-right: 10px solid;
    border-color: yellow; */
    background-attachment: fixed;
    /* color: white; */
    margin: auto;
}

/* Fixing links for dark mode. */

a {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

/* Dark mode and email buttons. */

button {
    background-color: yellow;
    border-color: yellow;
    border-radius: 10px;
    display: inline-block;
    padding: 2px 6px;
}

h1 {
    font-size: 30px;
}

nav {
    position: sticky;
    top: 0;
}

/*
@media screen and (max-width: 2560px) {
    #firstDiv {
        transform: scale(1.25);
    }
}

@media screen and (max-width: 1920px) {
    #firstDiv {
        transform: scale(1);
    }
}

/*---------------------------------------------------*/

/*------------------Navigation bar-------------------*/

/*---------------------------------------------------*/

/* Navigation bar. */

#navBar {
    background-color: blueviolet;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: sticky;
    top: 0;
    width: auto;
    /* centers the bar */
}

/* Horizontal navbar elements.. */

.navItems {
    float: left;
}

/* Used in sticky bar script. 

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
} 

/* Padding to prevent quick movement. */

.sticky+.content {
    padding-top: 60px;
}

.navItems a {
    display: block;
    /* color: white; */
    text-align: center;
    padding: 9px 15px;
    text-decoration: none;
    font-family: "Segoe UI", Arial, sans-serif;
}

li a:active {
    color: black;
}

/* When hovering a nabar item, 
change text to black and background to yellow. */

.navItems a:hover, .navItems a:active {
    background-color: yellow;
    color: black;
}

.active {
    background-color: yellow;
    color: black;
}

/*-----------------------------------------------*/

/*------------------body div---------------------*/

/*-----------------------------------------------*/

#firstDiv {
    background-color: #333333;
    color: white;
    margin: auto;
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
}

/*----------------------------------------------*/

/*-------------------Classes--------------------*/

/*----------------------------------------------*/


/* Select all element with the class name dark-mode
that are descendents of the element with an ID of 
firstDiv. */

#firstDiv.dark-mode {
    background-color: white;
    color: black;
}

.dark-mode-links {
    color: black;
}

/* Rounded border. */

.border {
    border: 3px solid;
    border-radius: 20px;
    margin: auto;
    width: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none;
}

/* Relevant courses list. */

/*----------------------------------------------*/

/*-----------------ID-based---------------------*/

/*----------------------------------------------*/

#firstDiv {
    background-color: #333333;
    color: white;
    margin: auto;
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
}

#borderedDiv {
    padding-left: 20px;
    padding-right: 20px;
}

#navBarLogo {
    padding: 3px 4px;
}