/*      Contents:
    1) Element Selectors.
    2) Navigation Bar.
    3) Class Selectors.
    4) ID Selectors.

/*-------------------------------------------------*/
/*--------------- 1) Element Selectors ------------*/
/*-------------------------------------------------*/

/* Fixing links for dark mode. */
a {
    color: white;
    background-color: transparent;
    text-decoration: underline; 
}

body {
    background-image: url(../images/seattleFix.jpg);
    background-attachment: fixed; /* image will not scroll */
    background-size: cover; /* image covers entire body */
    margin: auto; /* hug top of screen */
}

/* Dark mode and email buttons. */
button {
    background-color: yellow;
    border-color: yellow;
    border-radius: 10px;
    display: inline-block;
    padding: 2px 6px;
}
    /* No black button border when clicked or selected by tab. */
    button:focus {
        outline: none;
    }

/* Center all text. */
div, footer, h1, h4, p, ul {
    text-align: center;
}

h1 {
    font-size: 30px;
}

/*---------------------------------------------------*/
/*-------------- 2) Navigation Bar ------------------*/
/*---------------------------------------------------*/

#navBar {
    background-color: blueviolet;
    display: inline-block;
    list-style-type: none; /* no bullet points */
    margin: 0; /* hug top of screen */
    padding: 0;
    position: sticky; /* sticks to top of screen */
    top: 0;
    width: auto;
}
    /* Special padding for logo in navbar */
    #navBarLogo {
        padding: 3px 4px 2px 4px;
    }

/* Horizontal navbar elements */
.navItems {
    float: left;
}
    /* Links in navbar. */
    .navItems a {
        display: block;
        font-family: "Segoe UI", Arial, sans-serif;
        padding: 9px 15px;
        text-align: center;
        text-decoration: none;
    }

/* Highlight active page in navbar. */
.active {
    background-color: yellow;
    color: black;
}

/*----------------------------------------------*/
/*------------ 3) Class Selectors --------------*/
/*----------------------------------------------*/

/* Center UWT image. */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Fix dark mode links in about and resume pages. */
.dark-mode-links {
    color: black;
}

/* Align text to left. */
.leftText {
    text-align: left;
}

/* Dark mode and email buttons. */
.niceButton {
    background: blueviolet;
    border: 3px solid yellow;
    color: white;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    transition: all 0.4s ease 0s;
}
    /* Switch colors when hovering dark mode and email. */
    .niceButton:hover {
        background: yellow;
        border-color: blueviolet;
        color: black;
        transition: all 0.4s ease 0s;
    }

/* Resume boxes. */
.resumeBorder {
    border: 3px solid;
    border-radius: 20px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    width: auto;
}

/*----------------------------------------------*/
/*---------------- 4) ID Selectors -------------*/
/*----------------------------------------------*/

/* Child of body. */
#firstDiv {
    background-color: #333333;
    color: white;
    margin: auto;
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
    /* Select all elements with the class name dark-mode
    that are descendents of the element with an ID of 
    firstDiv. */
    #firstDiv.dark-mode {
        background-color: white;
        color: black;
    }

/* My profile pic on the home page. */
#profilePic {
    border-radius: 50%;
    width: 200px;
} 

/* UWT image on About page. */
#uwPic {
    height: auto;
    max-width: 100%;
}
